celery==4.0.2
coverage==4.3.4
Flask==0.12.2
Flask-Admin==1.5.0
Flask-Bootstrap==3.3.7.1
Flask-Email==1.4.4
Flask-Migrate==2.0.4
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
gevent==1.2.1
greenlet==0.4.12
Jinja2==2.9.6
requests==2.18.1
selenium==3.0.2
SQLAlchemy==1.1.10
Werkzeug==0.12.2
WTForms==2.1
xlrd==1.0.0
xlwt==1.2.0

