<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API自动化平台</title>
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/demo.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/main.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
</head>
<body style="    background-color: beige;">
<div id="wrapper">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
            <div class="left" style="text-align: center">
                <h1>注册</h1>
            </div>
            <div style="text-align: center;color: red">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            {% block body %}{% endblock %}
            <form class="form-auth-small" action="{{ url_for('reg') }}" method="POST" style="width: 40%;
    margin-left: 30%;">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.username.label }}
                    {% if form.username.errors %}
                        {% for e in form.username.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.username(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.password.label }}
                    {% if form.password.errors %}
                        {% for e in form.password.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.password(class='form-control') }}
                </div>
                <div class="form-group">
                    {% if form.se_password.errors %}
                        {% for e in form.se_password.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.se_password.label }}
                    {{ form.se_password(class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.email.label }}
                    {% if form.email.errors %}
                        {% for e in form.email.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.email(class='form-control') }}
                </div>
                <div class="form-group">
                    {% if form.jobnum.errors %}
                        {% for e in form.jobnum.errors %}
                            <p class="help-block">{{ e }}</p>
                        {% endfor %}
                    {% endif %}
                    {{ form.jobnum.label }}
                    {{ form.jobnum(class='form-control') }}
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block">注册</button>
                <a href="{{ url_for('home.login') }}">去登录</a>
            </form>

        </div>

    </div>

    <div class="clearfix"></div>
</div>
</div>
</div>
</div>
</body>
</html>