{% extends 'back.html' %}
{% block hello %}
    <div class="tpl-content-wrapper" style="margin-top: -7px;">
        <div class="tpl-content-page-title">
        </div>
        <div class="tpl-portlet-components" style="background-color: whitesmoke;">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span>
                    编辑<strong>{{ interface_one.Interface_name }}</strong>接口参数
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                        </div>
                    </div>
                </div>
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class='flashes'>
                    {% for message in messages %}
                        <li style="color:red">{{ message }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
            {% endwith %}
            <form action="{{ url_for('interface.editeprame',id=pasrm.id,inte_id=interface_one.id) }}" method="POST">
                <div>
                    <div class="form-group">
                        <strong>参数名:</strong>
                        <input type="text" placeholder="请输入参数名" name="name" value="{{ pasrm.parameter_name }}">
                    </div>
                    <span>&nbsp;</span>
                    <div class="form-group">
                        <strong>参数类型:</strong>
                        <input type="text" name="type" placeholder="请输入参数类型" value="{{ pasrm.parameter_type }}">
                    </div>
                    <span>&nbsp;</span>
                    <div class="form-group">
                        <strong>是否必须:</strong>
                        <select name="nussu">
                            <option>是</option>
                            <option>否</option>
                        </select>
                    </div>
                    <span>&nbsp;</span>
                    <div class="form-group">
                        <strong>类型:</strong>
                        <select name="typechu">
                            <option>出参</option>
                            <option>入参</option>
                        </select>
                    </div>
                    <span>&nbsp;</span>
                    <div class="form-group">
                        <strong>参数描述:</strong>
                        <input type="text" name="desec" placeholder="请输入参数描述" value="{{ pasrm.desc }}">
                    </div>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <div class="form-group">
                        <strong>参数示例:</strong>
                        <input class="uneditable-textarea " name="shili" placeholder="请输入示例的参数请求"
                               value="{{ pasrm.default }}">

                        </textarea>
                    </div>
                    <span>&nbsp;</span>
                    <input type="submit" class="am-btn am-btn-primary" style="margin-left: 26%;" value="编辑">
                </div>
            </form>
        </div>
    </div>
{% endblock %}