{%extends 'back.html' %}
{%block hello%}
<div class="tpl-content-wrapper">
            <div class="tpl-content-page-title"> 
            </div>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 编辑项目
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                </div>
                        </div>
                    </div>
                </div>
{% with messages = get_flashed_messages() %}
{% if messages %}
 <ul class='flashes'>
{% for message in messages %}
<li style="color:red">{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<form  action="" method="POST" style="width: 40%;
    margin-left: 30%;">
<div class="form-group">
<strong>项目名字:</strong>
    <input type="text" name="project" value="{{ project.project_name }}"></div>
<button type="submit" class="am-btn am-btn-primary ">编辑</button>
</form></div></div>
{%endblock%}