{%extends 'back.html' %}
{%block hello%}
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title"></div>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 添加测试环境</div></div>
            <div style="text-align: center ;color: red" id="messgae"></div>
            <form  action="{{ url_for('addevent') }}" method="POST" >
                {{form.hidden_tag()}}
                {{form.csrf_token}}
                <div class="form-group">
                    <strong>项目名字:</strong>
                    <select id="project"> {% for project in  projects %}
                        <option>{{  project.project_name }}</option>
                    {% endfor %}
                    </select>
                </div>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <div class="form-group">
                    <strong>测试环境url:</strong>
                    {{ form.envtion(id='enentv') }}</div>
                <span>&nbsp;</span>
                <div class="form-group">
                    <strong>测试环境描述:</strong>
                    {{ form.desc(id='desc') }}</div>
                <span>&nbsp;</span>
                <button type="button" class="am-btn am-btn-primary " onclick="add()">添加</button>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function add() {
            var url=document.getElementById('enentv');
            var desc=document.getElementById('desc');
            var obj = document.getElementById('project');
            var index=obj.selectedIndex;
            var work = obj.options[index].value;
            var message=document.getElementById('messgae');
            if (url.value.length<1){
                message.innerHTML='测试环境不能为空'
            }else
            {
                if(work.length<1) {
                    message.innerHTML='测试环境所属项目不能为空，必须选择'
                } else {
                    if(desc.value.length<1){
                        message.innerHTML='测试环境描述不能为空'
                    }else {
                        var data = {};
                        data['url'] = url.value;
                        data['desc'] = desc.value;
                        data['work'] = work;
                        $.ajax({
                            url: '{{ url_for('addevent') }}',
                            type: 'POST',
                            data: JSON.stringify(data),
                            contentType: 'application/json; charset=UTF-8',
                            processData: false,
                            success: function (result) {
                                if (result['code'] == 200) {
                                    location.href='{{ url_for('home.ceshihuanjing') }}';
                                }
                                else {
                                    message.innerHTML=(result['msg']);
                                }
                            }
                        });
                    }
                }
            }
        }
    </script>
{%endblock%}