{%extends 'back.html'%}
{%block hello%}
<div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">               
            </div>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 添加用户
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                </div>
                        </div>
                    </div></div>
{% with messages = get_flashed_messages()%}
{% if messages%}
<ul class='flashes'>
{% for message in messages %}
<li >{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<form method="POST" action="{{url_for('user.add_user')}}">
 <div>
 <div class="form-group">
<strong>用户名:</strong>
<input type="text" name="user" placeholder="请输入用户"></div>
<span>&nbsp;</span>
 <div class="form-group">
<strong>登录密码  :</strong>
<input type="password" name="password" placeholder="请输入密码"></div>
<span>&nbsp;</span>
<div class="form-group">
<strong>再次输入密码:</strong>
<input type="password" name="password1"placeholder="请输入密码" ></div>
<span>&nbsp;</span>
<div class="form-group">
<strong>输入邮箱:</strong>
<input type="text" name="email" placeholder="请输入邮箱"></div>
<span>&nbsp;</span>
<strong >选择职业：</strong><select name='work'>{%for work in wroks%}
  <option value ="{{work.id}}" >{{work.name}}</option>
  {%endfor%}
</select>
<span>&nbsp;</span>
<button type="submit" class="am-btn am-btn-primary" style="margin-left: 26%;">添加</button>
</form>
</div>
{%endblock%}