{%extends 'back.html'%}
{%block hello%}
    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
        </div>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 添加用户
                </div>
                <div class="tpl-portlet-input tpl-fz-ml">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center ;color: red" id="messgae"></div>
            <form >
                <div>
                    <div class="form-group">
                        <strong>用户名:</strong>
                        <input type="text"  placeholder="请输入用户" id="user">
                    </div>
                    <span>&nbsp;</span>
                    <div class="form-group">
                        <strong>登录密码  :</strong>
                        <input type="password" id="password" placeholder="请输入密码">
                    </div>
                    <span>&nbsp;</span>
                    <div class="form-group">
                        <strong>再次输入密码:</strong>
                        <input type="password" id="password1"placeholder="请输入密码" >
                    </div>
                    <span>&nbsp;</span>
                    <div class="form-group">
                        <strong>输入邮箱:</strong>
                        <input type="text" id="email" placeholder="请输入邮箱">
                    </div>
                    <span>&nbsp;</span>
                    <strong >选择职业：</strong>
                    <select id='work'>{%for work in wroks%}
                        <option value ="{{work.id}}" >{{work.name}}</option>
                    {%endfor%}
                    </select>
                    <span>&nbsp;</span>
                    <p>
                        <strong >选择用户所属的项目：</strong>
                        <select id="usertype" name="usertype" class="selectpicker show-tick" multiple data-live-search="false">
                            {%for project in projects%}
                                <option value="{{ project.id }}">{{ project.project_name }}</option>
                            {% endfor %}
                        </select>
                    </p>
                    <button type="button" class="am-btn am-btn-primary" onclick="addmodel()" style="margin-left: 26%;">添加</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" >
        function addmodel() {
            var user =document.getElementById('user');
            var password =document.getElementById('password');
            var password1 =document.getElementById('password1');
            var email =document.getElementById('email');
            var obj = document.getElementById('work');
            var index=obj.selectedIndex;
            var work = obj.options[index].value;
            var pro = document.getElementById('usertype');
            var str = [];
            for(i=0;i<pro.length;i++){
                if(pro.options[i].selected){
                    str.push(pro[i].value);
                }
            }
            var message=document.getElementById('messgae');
            if (user.value.length<1){
                message.innerHTML='用户名不能为空!!'
            }else {
                if(password.value != password1.value){
                    message.innerHTML='密码不相等!!'
                }else {
                    if(email.value.length<1){
                        message.innerHTML='邮箱不能为空!!'
                    }
                    else {
                        if(str.length<1){
                            message.innerHTML='所属项目必须勾选!!'
                        }else {var data={};
                            data['username']=user.value;
                            data['password']=password.value;
                            data['eamil']=email.value;
                            data['work']=work;
                            data['xiangmu']=str;
                            $.ajax({
                                url: '{{ url_for('user.add_user') }}',
                                type: 'POST',
                                data:  JSON.stringify(data),
                                contentType: 'application/json; charset=UTF-8',
                                processData: false,
                                success: function (result) {
                                    if (result['code'] == 200) {
                                        location.href='{{ url_for('home.adminuser') }}';
                                    }
                                    else {
                                        message.innerHTML=(result['msg']);
                                    }
                                }
                            });
                        }
                    }
                }
            }}
    </script>
{%endblock%}