{% extends 'mockserver.html' %}
{% block bodys %}
    <div class="mockser"  style="margin-top:-7%" >
        <div class="tpl-content-page-title">
            <div style="text-align: center ;color: red" id="messgae"></div>
        </div>
        <div class="tpl-portlet-components" style="background-color: whitesmoke;">
            <div >
                <h3 style="text-align: center" >添加mockserver接口</h3>
                <form  style="margin-left: 40%">
                    <p>mock接口名字：
                        <input type="text" placeholder="请输入mock接口名字" id="name"></p>
                    <p> mock接口描述：
                        <input type="text" placeholder="请输入mock接口描述" id="desc"></p>
                    <p> mock 接口路径：
                        <input type="text" placeholder="请输入mock接口路径" id="path"></p>
                    <p>  mock接口请求方式：
                        <select id="meth" class="select2-results">
                            <option>get</option>
                            <option>post</option>
                            <option>delete</option>
                            <option>put</option>
                            <option>push</option>
                        </select>
                    </p>
                    <p>mock接口类型参数：<select id="type">
                        <option>json</option>
                        <option>xml</option>
                    </select>
                    </p>
                    <p>mock接口请求头：
                        <textarea id="headers" style="width: 200px;height: 100px;"></textarea>
                    </p>
                    <p>mock接口请求参数：
                        <textarea id="parm"  style="width: 200px;height: 100px;">
                        </textarea>
                    </p>
                    <p>mock接口返回参数：
                        <textarea id="back" style="width: 200px;height: 100px;"></textarea>
                    </p>
                    <p>mock接口是否校验：<select id="checkout">
                        <option>是</option>
                        <option>否</option>
                    </select>
                    </p>
                    <p>mock接口是否校验请求头：
                        <select id="checkouheaders">
                            <option>是</option>
                            <option>否</option>
                        </select>
                    </p>
                    <p>mock接口是否开启：
                        <select id="kaiqi">
                            <option>是</option>
                            <option>否</option>
                        </select>
                    </p>
                    <p>
                        <input type="button" value="添加" class="btn-success" onclick="addmockserver()">
                    </p>
                </form>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        function addmockserver() {
            var  name=document.getElementById('name');
            var desc=document.getElementById('desc');
            var  path=document.getElementById('path');
            var headers=document.getElementById('headers');
            var parm=document.getElementById('parm');
            var back=document.getElementById('back');
            var obj = document.getElementById('meth');
            var index=obj.selectedIndex;
            var meth = obj.options[index].value;
            var ob = document.getElementById('type');
            var inde=ob.selectedIndex;
            var type = ob.options[inde].value;
            var obd = document.getElementById('checkout');
            var ind=obd.selectedIndex;
            var checkout = obd.options[ind].value;
            var obds = document.getElementById('checkouheaders');
            var insd=obds.selectedIndex;
            var checkouheaders = obds.options[insd].value;
            var kaiqis = document.getElementById('kaiqi');
            var insds=kaiqis.selectedIndex;
            var kaiqi = kaiqis.options[insds].value;
            var message=document.getElementById('messgae');
            if(name.value.length<1){
                message.innerHTML='mock接口的名字不能为空';
            }else {
                if(path.value.length<1){
                    message.innerHTML='mock接口的路径不能为空';
                }else {
                    if(parm.value.length<1){
                        message.innerHTML='mock接口的参数不能为空';
                    }else {
                        if(back.value.length<1){
                            message.innerHTML='mock接口的返回参数不能为空';
                        }else {
                            if(meth.length<1){
                                message.innerHTML='mock接口请求方式不能为空！';
                            }else {
                                var data={};
                                data['name']=name.value;
                                data['desc']=desc.value;
                                data['path']=path.value;
                                data['headers']=headers.value;
                                data['parm']=parm.value;
                                data['back']=back.value;
                                data['meth']=meth;
                                data['type']=type;
                                data['checkout']=checkout;
                                data['checkouheaders']=checkouheaders;
                                data['kaiqi']=kaiqi;
                                $.ajax({
                                    url: '{{ url_for('mock.addmock') }}',
                                    type: 'POST',
                                    data:  JSON.stringify(data),
                                    contentType: 'application/json; charset=UTF-8',
                                    processData: false,
                                    success: function (result) {
                                        if (result['code'] == 200) {
                                            location.href='{{ url_for('home.mockserver') }}';
                                        }
                                        else {
                                            message.innerHTML=(result['msg']);
                                        }
                                    }
                                });
                            }
                        }
                    }
                }
            }
        }
    </script>
{%  endblock%}