/* All styles created for demo purposes only, you may not need this for your project */
.demo-button button {
  margin-bottom: 5px; }

.demo-icons li {
  margin-bottom: 50px;
  text-align: center; }

.demo-icons .lnr,
.demo-icons .fa {
  font-size: 28px; }

.demo-icons .cssclass {
  display: block;
  margin-top: 5px;
  margin-left: 5px; }

#interca{
  margin-right: 10px;
  margin-left: 10px
}