<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API自动化平台</title>
    <link href="{{url_for('static',filename='css/amazeui.min.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/admin.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/app.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}"  rel="stylesheet">
    <link rel="icon" href="{{url_for('static',filename='img/logo.png')}}" type="image/x-icon"> 
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/echarts.common.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/app.js')}}"></script>
    <script src="https://cdn.staticfile.org/jquery/3.1.1/jquery.min.js"></script>
</head>
<body style="background-color: #f5f5f5" >
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
            <img src="{{url_for('static',filename='img/logo.png')}}" alt="" >
        </a>
    </div>
    </div>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-hide-sm-only"></li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="{{url_for('user.setting')}}">
                    <span class="tpl-header-list-user-nick" >{{session.username}}</span><span class="tpl-header-list-user-ico"></span>
                </a>
            </li>
            <li><a href="{{url_for('home.logt')}}" class="tpl-header-list-link"><span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>
<div class="tpl-page-container tpl-page-header-fixed" >
    <div class="tpl-left-nav tpl-left-nav-hover" >

        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('home.index')}}" class="nav-link ">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('home.project')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-bar-chart"></i>
                        <span>项目</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('home.ceshihuanjing') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-internet-explorer"></i>
                        <span>测试环境</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('home.model')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-adn"></i>
                        <span>模块</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('home.interface')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-internet-explorer"></i>
                        <span>接口</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('home.yongli')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-key"></i>
                        <span>测试用例</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('home.timingtask') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-tasks"></i>
                        <span>定时任务</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('home.mockserver') }}" class="nav-link tpl-left-nav-link-list" target="_blank">
                        <i class="am-icon-server"></i>
                        <span>mock-server</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('home.test_rep')}}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-file"></i>
                        <span>测试报告</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{url_for('home.adminuser')}}" class="nav-link tpl-left-nav-link-list">
                        <span class=" am-icon-user"></span>
                        <span>用户管理</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {%block hello%}
    {%endblock%}
</div>
{%block fen%}
{%endblock%}
<div style='text-align: center;margin-bottom: auto'>
    <h3>版权雷子所有，联系qq：952943386 qq交流群：194704520</h3></div>
{% block js %}  {%endblock%}
</body>
</html>
