<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API自动化平台</title>
    <link href="{{url_for('static',filename='css/bootstrap.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/demo.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/main.css')}}"  rel="stylesheet">
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</head>
<body style="   background-color: beige;">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <p class="navbar-brand" href="#">API自动化平台</p>
    </div>
         <p style=" margin-top:10px;float: right"><a href="{{ url_for('logt') }}">退出</a></p>
        <span>|</span>
        <p style=" margin-top:10px;float: right"><a>{{session.username }}</a></p>
    </div></nav>
<div class="container">
    <div class="row" >
    <div class="col-md-3 ">
    <div id="sidebar-nav" class="" style="margin-left: inherit">
    <div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="{{ url_for('index') }}" class="active"><i class="lnr lnr-home"></i> <span>首页</span></a></li>
                             <span></span>
						<li><a href="{{ url_for('interface') }}" class=""><i class="lnr lnr-code"></i> <span>接口</span></a></li>
                             <span></span>
						<li><a href="{{ url_for('yongli') }}" class=""><i class="lnr lnr-chart-bars"></i> <span>用例</span></a></li>
                        <span></span>
                        <li><a href="{{url_for('test_rep')}}" class=""><i class="lnr lnr-chart-bars"></i> <span>测试报告</span></a></li>
                             <span></span>
						<li><a href="{{url_for('adminuser')}}" class=""><i class="lnr lnr-cog"></i> <span>用户管理</span></a></li>

					</ul>
				</nav>
			</div>
</div></div>
    <div class="col-md-9;">
{% block hello %}
    {% endblock %}
</div>
 <div class="container" style="text-align: center">
        <p class="muted credit"> @雷子API后台管理 BY  雷子 </p>
      </div>
</body>

</html>