{%extends 'back.html'%}
{%block hello%}
<div class="tpl-content-wrapper">
            <div class="tpl-content-page-title"></div>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 编辑定时任务
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                </div>
                        </div>
                    </div></div>
{% with messages = get_flashed_messages() %}
{% if messages %}
 <ul class='flashes'>
{% for message in messages %}
<li style="color:red" >{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<form  action="{{ url_for('editmingtask',id=task_one.id) }}" method="POST" style="width: 40%;
    margin-left: 30%;">
<div class="form-group">
 <p style="margin-top: 20px"><strong >任务名称:</strong>
    <input type="text" name="taskname"  placeholder="请输入任务名！" value="{{ task_one.taskname }}"></p>
    <p style="margin-top: 20px"><strong>测试时间:</strong>
    <input type="text" name="time"  placeholder="请输入con表达式！" value="{{ task_one.taskstart }}"></p>
   <p style="margin-top: 20px"><strong>邮件主送:</strong>
    <textarea type="text" name="to_email"  placeholder="测试报告发送谁给，逗号分隔多个！" style="width: 200px;height: 100px;">
        {{ task_one.taskrepor_to }}
    </textarea></p>
    <p style="margin-top: 20px"> <strong>邮件抄送:</strong>
    <textarea type="text" name="cao_email"  placeholder="测试报告抄送的人，用逗号分隔！" style="width: 200px;height: 100px;">
        {{ task_one.taskrepor_cao }}
    </textarea></p>
     <p style="margin-top: 20px"> <strong>支持人邮件:</strong>
    <input type="text" name="weihu"  placeholder="维护改测试计划的人！" value="{{ task_one.task_make_email }}"></p>
    <p style="margin-top: 20px">
        <strong>选择本要执行的测试项目:</strong>
        <select id="project" >
            <option>-----------------</option>{% for porject in porjects %}
            <option >{{ porject.project_name }}</option>{% endfor %}</select>
    </p>

<p><strong>选择测试用例：</strong>
    <p ><p id="ceshiyongli"></p></p>
</p>
</div>
<button type="submit" class="am-btn am-btn-primary ">添加</button>
</form> </div></div>
    </form></div>{%endblock%}
      {% block js %}
    <script>
      $('select#project').change(function ajaxtestyongli() {
           var  project=document.getElementById('project').value;
           $.ajax({
               url:'{{ url_for('gettest') }}',
               type:'POST',
               data:project,
               contentType: 'application/json; charset=UTF-8',
               processData:false,
               success:function(testyong){
                   var message = (testyong['data']);
                    var city = $("#ceshiyongli");
                    city.empty();
				if(message.length) {
					var len = message.length;
					for(var i = 0; i < len; i ++) {
						var obj = message[i];
						city.append("<input  type='checkbox' class='checkbox-inline' name='testyongli' value='" + obj.name + "'>"+ obj.name );
					};
				}
                },
                error:function (res) {
                    console.log(res);
                    console.log(1);
                }
           })
       });
    </script>{%endblock%}

