{% extends "back.html" %}
{%block hello%}
<div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                
            </div>
            
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 编辑测试用例
                    </div>
                    <div class="tpl-portlet-input tpl-fz-ml">
                        <div class="portlet-input input-small input-inline">
                            <div class="input-icon right">
                                </div>
                        </div>
                    </div></div>
{% with messages = get_flashed_messages() %}
{% if messages %}
 <ul class='flashes'>
{% for message in messages %}
<li style="color:red">{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
<form  action="" method="POST" style="width: 40%;
    margin-left: 30%;">
<div class="form-group">
<strong>项目:</strong>
 {% for project in  projects %}
<input type='radio' value="{{  project.project_name }}" name="project">{{ project.project_name }}
    {% endfor %}</div>
    <span>&nbsp;</span>
<div class="form-group">
<strong>模块名字:</strong>
<span>
  {% for model in  models %}
<input type='radio' value="{{  model.model_name }}" name="model">{{ model.model_name }}
  {% endfor %}
    </span>
</div>
<span>&nbsp;</span>
<div class="form-group">
<strong>接口名字:</strong>
<input type="text" name="model" value="{{edit.Interface_name}}" >
</div>
<span>&nbsp;</span>
<div class="form-group">
<strong>接口url:</strong>
<input type="text" name="url" value="{{edit.Interface_url}}">
</div>
<span>&nbsp;</span>
<div class="form-group">
<strong>请求方式:</strong>
<input type="text" name="meth" value="{{edit.Interface_meth}}">
</div>
<span>&nbsp;</span>
<div class="form-group">
<strong>请求参数:</strong>
<input type="text" name="parme" value="{{edit.Interface_pase}}">
</div>
<span>&nbsp;</span>
<div class="form-group">
<strong>请求预期:</strong>
<input type="text" name="reque" value="{{edit.Interface_assert}}">
</div>
<span>&nbsp;</span>
<button type="submit" class="am-btn am-btn-primary">修改</button>
</div>
<span>&nbsp;</span>
</form>
{%endblock%}