{% extends "back.html" %}
{% block hello %}
	<h2>API后台统计</h2>
       <div class="panel-body" >
           <div class="row">
           {% with messages = get_flashed_messages() %}
                                  {% if messages %}
                                    <ul class=flashes>
                                    {% for message in messages %}
                                      <li >{{ message }}</li>
                                    {% endfor %}
                                    </ul>
                                  {% endif %}
                                {% endwith %}
               <div class="col-md-3">
                   <div class="metric">
                       <span class="icon"><i class="fa fa-download"></i></span>
                       <p>
                       <span class="number">{{ yongli }}条</span>
                       <span class="title">用例</span>
										</p>
                   </div>
               </div>
               <div class="col-md-3">
                   <div class="metric">
                       <span class="icon"><i class="fa fa-download"></i></span>
                       <p>
                       <span class="number">{{ jiekou }}条</span>
                       <span class="title">接口</span></p>
                   </div>
               </div>
               <div class="col-md-3">
                   <div class="metric">
                       <span class="icon"><i class="fa fa-download"></i></span>
                       <p>
                       <span class="number">{{ report }}个</span>
                       <span class="title">测试报告</span>
										</p>
                   </div>
               </div>
               <h2 style="margin-left: 26%;">模板</h2>
               <div style="margin-left:24%">
                    <h3 >根据这里的版本可以在用例或者接口模块导入相应的测试用例或者测试接口</h3>
                    <a href="{{url_for('down_jiekou')}}">接口模板</a>
                    <a href="{{url_for('down_case')}}">测试用例模板</a>
               </div>          
</div>
       </div> 
{% endblock %}