<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API自动化平台</title>
    <link href="{{url_for('static',filename='css/bootstrap.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/demo.css')}}"  rel="stylesheet">
    <link href="{{url_for('static',filename='css/main.css')}}"  rel="stylesheet">
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</head>
<body style="    background-color: beige;">
<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
							<div class="header " style="">
								<h1 style="text-align: center;">登录</h1>
							</div>
                            {% with messages = get_flashed_messages() %}
                                  {% if messages %}
                                    <ul class='flashes'>
                                    {% for message in messages %}
                                      <li >{{ message }}</li>
                                    {% endfor %}
                                    </ul>
                                  {% endif %}
                                {% endwith %}
                                {% block body %}{% endblock %}
							<form class="form-auth-small" action="{{ url_for('login') }}" method="POST" style="width: 40%;
    margin-left: 30%;">
                                {{form.hidden_tag()}}
								<div class="form-group">
                                    {% if form.username.errors %}
                                    {% for e in form.username.errors %}
                                    <p class="flashes">{{ e }}</p>
                                    {% endfor %}
                                {% endif %}
									{{ form.username(class='form-control') }}
								<div class="form-group">
									{{ form.password(class='form-control') }}
								</div>
								<button type="submit" class="btn btn-primary btn-lg btn-block">登录</button>
								<div class="bottom">
                                    <span class="helper-text"><i class="fa fa-lock"></i> <a href="{{ url_for('reg') }}" style="float: left"><strong>注册</strong></a></span>
									<span class="helper-text"><i class="fa fa-lock"></i> <a href="#" style="float: right"><strong>忘记密码?</strong></a></span>
								</div>
                                </div>
                                </div>
							</form>
                            </div>
</body>
</html>