{% extends "back.html" %}
{% block hello %}
{% import "fenye.html" as macros %}
 <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
                {% with messages = get_flashed_messages() %}
{% if messages %}
 <ul class='flashes'>
{% for message in messages %}
<li style="color:red" >{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
            </div>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> mockserver
                    </div>
</div>
<div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12 am-u-md-6">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                <a href="#"> <input  type="button" class="am-btn am-btn-default am-btn-success" value="增加"> </a>
                                </div>
                            </div>
                        </div>
                    </div>
<table class="am-table am-table-striped am-table-hover table-main" style="width:100%">
  <caption><strong></strong></caption>
  <thead>
    <tr>
      <th>项目名</th>
        <th>接口名</th>
        <th>接口描述</th>
        <th>接口路径</th>
        <th>请求方式</th>
        <th>请求头</th>
        <th>请求参数</th>
        <th>类型</th>
        <th>返回</th>
        <th>更新时间</th>
        <th>是否校验</th>
        <th>是否校验herders</th>
        <th>状态</th>
        <th>创建人</th>
        <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><label class="" style="background-color: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
    <td><label class="label-primary" style="background: white"></label></td>
      <td>
          <span><a href=""><input type="button" value="编辑" class="btn btn-primary"></a></span>  {%if current_user.role_id !=1 and
          current_user.role_id !=None  %}
           <span><a href=""><input type="button" value="删除" class="btn btn-danger"></a></span>{%endif%}
      </td>
    </tr>
  </tbody>
</table>
  </div>
      <div>       <p class="pagination" style="margin-left: 24%;">
  {{macros.pagination_widget(pagination,'.interfaspa')}}
</p></div>
{% endblock %}