{% extends "back.html" %}
{% block hello %}
{% import "fenye.html" as macros %}
{% with messages = get_flashed_messages() %}
{% if messages %}
 <ul class='flashes'>
{% for message in messages %}
<li style="color:red" >{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}
 <div class="tpl-content-wrapper">
            <div class="tpl-content-page-title">
            </div>
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption font-green bold">
                        <span class="am-icon-code"></span> 管理用户
                    </div>
 </div>
    <form method="POST" action="{{url_for('ser_user')}}">
     <strong  style="">用户名</strong>
     <input type="text" name="user"placeholder="查询的用户">
    <span></span>
    <input type="submit" value="查询" class="btn btn-default">
    </form>
        <div style="margin-top: 10px">
        <a href="{{url_for('add_user')}}">
          <input type="button" name="" class="am-btn am-btn-default am-btn-success" value="添加">
        </a>
  </div>
   <table class="am-table am-table-striped am-table-hover table-main" style="width:70%">
  <caption><strong>用户列表</strong></caption>
  <thead>
    <tr>
      <th>用户id</th>
      <th>用户名</th>
      <th>用户邮箱</th>
         <th>用户状态</th>
         <th>管理</th>
        <th>操作</th>
    </tr>
  </thead>
  <tbody>
  {%for user in users%}
    <tr>
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.user_email}}</td>
{% if user.status !=1%}
         <td><a href="{{url_for('fre_ad',id=user.id)}}"><input type="button" value="冻结" class="btn btn-default"></a></td>
         {%else%}
         <td><a href="{{url_for('fre_re',id=user.id)}}"><input type="button" value="解冻" class="btn btn-default"></a></td>
      {%endif%}
      {% if user.level !=1%}
      <td><a href="{{url_for('set_ad',id=user.id)}}"><input type="button" value="设置管理" class="btn btn-default"></a></td>
       {%else%}
        <td><a href="{{url_for('del_ad',id=user.id)}}"><input type="button" value="取消管理" class="btn btn-default"></a></td>
        {%endif%}
      <td>
          <span><a href="{{url_for('red_pass',id=user.id)}}"><input type="button" value="重置密码" class="btn btn-default"></a></span>
      </td>
    </tr>
{%endfor%}
  </tbody>
</table></div>
 <div class="am-cf">
                {{ macros.pagination_widget(pagination,'.adminuser') }}</div>
  </div></div>
{% endblock %}